$backgroundColor: #dbcfca;
$textColor: #363443;
$nameColor: #314a66;
$onColor: #69a2a7;
$offColor: #f2e2cb;

* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: $textColor;
}
body {
    background-color: $backgroundColor;
    font-family: almanach, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.grovalNav {
    width: 15vw;
    height: 100vh;
    display: flex;
    align-items: center;
    ul {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        height: 50vh;
        border-right: solid #314a66;
        a {
            display: flex;
            align-items: center;
            margin-left: 20%;
            width: 35%;
            .grovalNavIcon {
                width: 45%;
            }
            .grovalNavText {
                font-size: 22px;
                padding-left: 12%;
                font-weight: 400;
                font-style: normal;
            }
        }
    }
}

#mainContent {
    display: flex;
}

#posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85vw;
    height: 90vh;
    margin-top: 10vh;
    overflow: auto;
    .post {
        display: flex;
        width: 60vw;
        border-bottom: solid $textColor;
        border-width: 2px;
        padding-top: 30px;
        padding-bottom: 10px;
        .userIcon {
            width: 75px;
            height: 75px;
        }
        .postTextBox {
            display: flex;
            flex-flow: column;
            width: 70%;
            padding-bottom: 5px;
            padding-left: 5%;
            .userName {
                font-size: 32px;
                font-weight: 500;
                padding-bottom: 10px;
                color: $nameColor;
            }
            .postText {
                font-size: 20px;
                padding-bottom: 12px;
                color: $textColor;
            }
            .heart {
                display: flex;
                justify-content: center;
                width: 4%;
            }
        }
    }
}

.profile {
    width: 35vw;
    margin-top: 18vh;
    margin-left: 10vw;
    .profileUserdata {
        display: flex;
        align-items: center;
        .userIcon {
            width: 22%;
        }
        .nameBox {
            display: flex;
            flex-direction: column;
            padding-left: 10%;
            .userName {
                font-size: 42px;
                font-weight: 600;
            }
        }
    }
    .profileText {
        margin-top: 10vh;
        font-size: 24px;
    }
}

.follower {
    overflow: auto;
    width: 30vw;
    height: 70vh;
    margin-top: 18vh;
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
    color: $textColor;
    .followerText {
        font-size: 36px;
    }
    .followUser {
        display: flex;
        align-items: center;
        margin-top: 2vh;
        .followUsericon {
            width: 12%;
        }
        .followUsername {
            font-size: 20px;
            padding-left: 1vw;
        }
    }
}

#postArea {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10vw;
    #postTextbox {
        height: 40vh;
        width: 50vw;
    }
    #postBtn {
        height: 40vh;
        width: 10vw;
    }
}
