<div id="left">
    <div class="grovalNav">
        <ul>
            <li>
                <a id="home">
                    <img class="grovalNavIcon" src=".././img/home.svg" alt="Home">
                    <p class="grovalNavText">Home</p>
                </a>
            </li>
            <li>
                <a id="profile">
                    <img class="grovalNavIcon" src=".././img/profile.svg" alt="Profile">
                    <p class="grovalNavText">Profile</p>
                </a>
            </li>
            <li>
                <a id="setting">
                    <img class="grovalNavIcon" src=".././img/setting.svg" alt="Setting">
                    <p class="grovalNavText">Setting</p>
                </a>
            </li>
            <li>
                <a id="post">
                    <img class="grovalNavIcon" src=".././img/post.svg" alt="Post">
                    <p class="grovalNavText">Post</p>
                </a>
            </li>
        </ul>
    </div>
</div>