<meta charset="utf-8">
<html>
    <head>
        <title>タイムライン</title>
    </head>
    <body>
        <%- include('./common/left.ejs') %>
        <ul id="tweetList">
        <!--<div id="tweet" class="box">
                <button id="${packet.userId}" name="show_profile">${packet.userName}</button>
                <div id="message">${packet.message}</div>
                <div id="message_id">${packet.messageId}</div>
                <button id="nice">${0}</button>
                <div id="time">${new Date(packet.time).toLocaleString()}</div>
            </div>`-->
        </ul>
    </body>
</html>

