<meta charset="utf-8">
<html>
    <head>
        <title>タイムライン</title>
    </head>
    <body>
        <%- include('./common/left.ejs') %>
        <ul id="tweetList">
        </ul>
    </body>
</html>

