<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/ioq0uqc.css">
    <link rel="stylesheet" href=".././style/main.css">
    <title>ポスト</title>
</head>

<body>
    <div id="mainContent">
        <%- include('./common/left.ejs') %>
        <div id="postArea">
            <input type="text" id="postTextbox">
            <input type="submit" id="postBtn">
        </div>
    </div>
</body>

</html>
