<meta charset="utf-8">
<html>
    <head>
        <title>プロフィール</title>
    </head>
    <body>
        <%- include('./common/left.ejs') %>
        <div id="user_name">%User_Name%</div>
        <div id="user_id">%User_Id%</div>
        <button id="follow">Follow</button>
        <ul id="tweetList">
        </ul>
    </body>
</html>
