<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/ioq0uqc.css">
    <link rel="stylesheet" href=".././style/main.css">
    <title>設定</title>
</head>

<body>
    <div id="mainContent">
        <%- include('./common/left.ejs') %>
        <div id="setting">
            <p>Name</p>
            <input id="changeName" type="text" name="" id="" placeholder="YourName">
            <p>Profile</p>
            <textarea id="changeProfile" name="" id="" cols="30" rows="10" placeholder="Profile"></textarea>
            <input id="changeBtn" class="btn" type="submit" value="Decision">
        </div>
    </div>
</body>

</html>