<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>サインイン</title>
    <link rel="stylesheet" href="https://use.typekit.net/ioq0uqc.css">
    <link rel="stylesheet" href=".././style/main.css">
</head>

<body>
    <body>
        <h1>サインイン</h1>
        <hr>
        <div>
            <table>
                <tr>
                    <th>
                        ユーザID
                    </th>
                    <td>
                        <input id="user_id" type="text" name="user_id" value="" size="24">
                    </td>
                </tr>
                <tr>
                    <th>
                        パスワード
                    </th>
                    <td>
                        <input id="password" type="password" name="password" value="" size="24">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input id="submit" type="submit" value="サインイン">
                    </td>
                    <label id="error">XXX</label>
                </tr>
            </table>
        </div>
    </body>
</body>

</html>